/*CSS files are here!*/

#section-form {
    background-color: rgb(255, 255, 255);
}

.section-div-form {
    padding: 50px;
    border: 1px solid rgba(0, 0, 0, 0.9);
    margin: 50px auto;
    border-radius: 30px;
}

#submitButton {
    margin: 0 auto;
    display: block;
}